img {
  height: 250px;
  width: auto;
}

.flex-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
}

.mini-container {
  display: flex;
  flex-direction: column;
}