img {
  height: 250px;
  width: auto;
}

.fixed-dimension {
  height: 250px;
  aspect-ratio: 1/1;
  background-color: cadetblue;
  color: white;
  border: 1px dashed red;
}

.flex-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
}

.mini-container {
  display: flex;
  flex-direction: column;
}